<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="org.ancit.examples.e3e4.fragments.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="java.lang.String"
            class="org.ancit.examples.e3e4.fragments.StringAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>

</plugin>
